*{
    margin: 0;
    padding: 0;
}

:root{
    --main-radius:0px;
    --main-padding:12px;
}

.contenedor{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.32fr 1.5fr 0.86fr 0.2fr;
    grid-template-areas: 
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar cont1 cont2 cont3"
        "sidebar footer footer footer";
    grid-gap: 0.2rem;
}

nav{
    background-color: blueviolet;
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

main{
    background-color: coral;
    grid-area: main;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#sidebar {
    background-color: darkcyan;
    grid-area: sidebar;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#cont1 {
    background-color: firebrick;
    grid-area: cont1;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#cont2{
    background: goldenrod;
    grid-area: cont2;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#cont3{
    background-color: #ff6b00;
    grid-area: cont3;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

footer{
    background-color: indigo;
    grid-area: footer;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

@media only screen and (max-width:550px) {
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "cont1"
        "cont2"
        "cont3"
        "footer"
        ;
    }
}